@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* zocial */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
  font-size: 1.5em;
}
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 10px 5px 5px #000;
}


.clear-fix {
  overflow: auto;
}

#projects {
  box-sixing: border-box;
  padding-bottom: 1em;
}

#role_title {
  display: block;
}

.education-entry,
.work-entry,
.project-entry {
  box-sizing: border-box;
  padding: 0 5%;
  margin: auto;
  font-size: 1.2em;
  text-align: justify;
}
/*
.education-entry p,
.work-entry p,
.project-entry p {

  font-size: 0.7em;
}*/


h1 {
  font-size: 40px;
  /*color: #f5a623;*/
  color: #9DB5B2;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


hr {

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  /*color: #1199c3;*/
  color: #94D1BE;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.main-division {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills {
  display: none;
  /*display: block;
  /*position: relative;*/
  /*text-align: center;
  line-height: 1.5em;
  font-size: 0.7em;*/
}

#skills-h3 {
  /*color: #f5ae23;*/
  color: #9db5b2;
  display: none;


}

.orange {
  /*background-color: #f5ae23;*/
  background-color: #94d1be;
  color: #fff;
}

.orange-text {
  /*color: #9db52;*/
  color: #9db5b2;
}

.white-text {
  font-weight: bold;
  color: #fff;
  font-size: 1.3em;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #3b413c;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 3px;
  width: 200px;
  /*display: none;*/
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 50%;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  height: 100%;
  width: 100%;
}


/************** CLASSES ADDED BY ME ******************************/


.thumbnail {
margin-top: 10px;
/*border: 1px solid #3b413c;*/
padding: 3px;
max-width: 300px;
width: 100%;
}

/********************** CUSTOM CSS ADDED BY FELIPE **************/

#role_title {
  font-weight: 600;
  color: #fff;
  font-size: 1.2em;
}



#map {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0 5%;
  border-radius: 5px;
  box-shadow:10px 5px 5px black;
  /*margin-bottom: 20px;*/
}

#mapDiv {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  background-color: #daf0ee;
  padding-bottom: 6em;

}

#topContacts{
  display: none;
}

#footerContacts {
  padding: 10px;
  line-height: 2em;
}


/*************************************************
  SECTION: Coding Skills;
  ID: codingSkills;
  DESCRIPTION: The following styles apply to
               the skill bar chart svgs;
**************************************************/
.chart
rect {
  fill:steelblue;
}

.chart
text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}




/*************END-OF-SECTION**********************/

/* Media queries to handle various device widths */

@media only screen and (max-width: 358px){
  /*h1 {
    font-size: 1.5em;
  }

  #role_title {
    font-size: 0.7em;
  }*/
}


@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  /*.work-entry p {
    text-align: justify;
  }*/
}

@media only screen and (max-width: 750px) {
  /*
  .biopic {
    width: 150px;
  }*/
  .welcome-message {
    display: none;
  }

}



@media only screen and (min-width:500px){

    #skills/*,
  .biopic*/ {
      padding-top: 0px;
      display: block;
      font-size: 0.8em;
      line-height: 1.5em;
  }

  #skills-h3 {
    display: block;
  }

  #role_title {
    display: inline;
  }

}

@media only screen and (min-width: 790px) {

  #skills/*,
  .biopic*/ {
      font-size: 1em;
  }

  #topContacts {
        display: flex;
        /*float: right;
        background-color: #3b413c;*/
      }

    #footerContacts {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  /*
  #footerContacts li {
    display: inline-block;
  }*/
}





